h1{


    color: red;
    font-family: Arial;
    font-size: 20;
    background-color: yellow;
}
#Les2lignesuivantes{
    font-family: Arial;
    font-size:16px;
    color:purple;
    margin-top:20px;
    text-align: center;

}
.Lesdeuxparagraphes{
    font-family: Arial;
    font-size: 11px;
    text-indent : 20px; 
    margin-top:25px;
    margin-bottom:25px;
}
.premier123{
    color: blue;
    font-family: Arial;
    font-size:15px;
    font-weight:bold;
    text-indent : 20px;
    margin-top:25px;
    margin-bottom:25px;
}
.Decetteepoque{
 font-family: "Times New Roman",Times,serif;
  font-size:16px;
  font-style:italic;
  margin-left:1em;
  margin-right:1em;
  margin-top:10px;
  margin-bottom:10px;
}
.lesneuf{ 
  font-size:13px;
  text-decoration:underline;
}
.alinéa{

    text-indent:12px;
    margin-top: 10px;
    margin-bottom:20px;
}
.alinéa1{
    text-indent:10px;
    font-style:italic;
    margin-top:10px;
    margin-bottom:20px;
}
.alinéa2{margin-top:10px;
margin-bottom:20px;}